.Rproj.user
.Rhistory
.RData
.Ruserdata
Exercicio4/.Rproj.user/1232A21D/sources/s-7152CB29/600BCA98
Exercicio4/.Rproj.user/1232A21D/sources/s-7152CB29/F8ED3B68
Exercicio4/.Rproj.user/1232A21D/sources/prop/INDEX
